{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <ul>
        {%  for prod in products %}
        <li> {{ prod.name }}</li>
        {% endfor %}
    </ul>

    {% set exampleValue = config('FooBasicExample.config.example') %}

    {% if exampleValue %}
        <h1>{{ exampleValue }}</h1>
    {% endif %}

{% endblock %}